// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: "Nunito", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-awesome: "Fontawesome";

// Theme Colors Variables
$primary: #028ed4;
$primary-hover: darken($primary, 10%);
$secondary: #092c4c;
$secondary-hover: darken($secondary, 10%);
$success: #3eb780;
$success-hover: darken($success, 10%);
$info: #155eef;
$info-hover: darken($info, 10%);
$warning: #ffca18;
$warning-hover: darken($warning, 10%);
$danger: #ff0000;
$danger-hover: darken($danger, 10%);
$dark: #1b2850;
$light: #f9fafb;
$white: #ffffff;
$black: #000000;
$purple: #6938ef;
$pink: #dd2590;
$teal: #0e9384;
$violet: #423b93;
$cyan: #06aed4;
$orange: #e04f16;
$indigo: #3538cd;
$green: #1dd871;
$yellow: #ffff00;
$blue: #3577f1;

// Primary
$primary-100: #e6f7ff;
$primary-200: #bae7ff;
$primary-300: #91d5ff;
$primary-400: #69c0ff;
$primary-500: #40a9ff;
$primary-600: #1890ff;
$primary-700: #096dd9;
$primary-800: #0050b3;
$primary-900: #003a8c;

// Secondary
$secondary-100: #e4e8ec;
$secondary-200: #c9d1d9;
$secondary-300: #b0bbc7;
$secondary-400: #96a5b4;
$secondary-500: #7e8fa2;
$secondary-600: #667a91;
$secondary-700: #4e667f;
$secondary-800: #38526e;
$secondary-900: #213f5d;

// Success
$success-100: #eefaf1;
$success-200: #dcf5e2;
$success-300: #cbefd4;
$success-400: #b9eac5;
$success-500: #a6e4b7;
$success-600: #93dfa9;
$success-700: #7ed99b;
$success-800: #68d38c;
$success-900: #4ecd7e;

// Warning
$warning-100: #fffaee;
$warning-200: #fff5dc;
$warning-300: #fff0ca;
$warning-400: #ffebb8;
$warning-500: #ffe6a5;
$warning-600: #ffe192;
$warning-700: #ffdb7d;
$warning-800: #ffd665;
$warning-900: #ffd048;

// Danger
$danger-100: #ffede9;
$danger-200: #ffdad3;
$danger-300: #ffc8bd;
$danger-400: #ffb5a7;
$danger-500: #ffa191;
$danger-600: #ff8d7b;
$danger-700: #ff7765;
$danger-800: #ff5e4d;
$danger-900: #ff4031;

// Info
$info-100: #e7f0ff;
$info-200: #d0e1ff;
$info-300: #b9d2ff;
$info-400: #a2c3fe;
$info-500: #8cb4fd;
$info-600: #75a4fb;
$info-700: #5f94f9;
$info-800: #4883f6;
$info-900: #3171f3;

// Purple
$purple-100: #ededff;
$purple-200: #dcdbff;
$purple-300: #cbc9ff;
$purple-400: #bbb7ff;
$purple-500: #aba5fd;
$purple-600: #9c92fb;
$purple-700: #8e7ff9;
$purple-800: #806af6;
$purple-900: #7454f3;

// Gray
$gray-100: #d3d5d7;
$gray-200: #bcbfc3;
$gray-300: #a6aaaf;
$gray-400: #90959b;
$gray-500: #7a8086;
$gray-600: #646b72;
$gray-700: #4d555e;
$gray-800: #37404a;
$gray-900: #212b36;

// Light
$light-100: #fcfcfc;
$light-200: #fbfbfb;
$light-300: #fafafa;
$light-400: #f9f9f9;
$light-500: #f7f7f7;
$light-600: #f6f6f6;
$light-700: #f5f5f5;
$light-800: #f3f3f3;
$light-900: #f2f2f2;

// Pink
$pink-100: #ffecf4;
$pink-200: #fed9e8;
$pink-300: #fdc6dd;
$pink-400: #fab2d2;
$pink-500: #f79fc6;
$pink-600: #f38bbb;
$pink-700: #ef76b0;
$pink-800: #e960a5;
$pink-900: #e4479b;

// Orange
$orange-100: #ffeee9;
$orange-200: #feded4;
$orange-300: #fccdbe;
$orange-400: #fabda9;
$orange-500: #f7ac94;
$orange-600: #f49b7e;
$orange-700: #ef8968;
$orange-800: #eb7752;
$orange-900: #e66438;

// Cyan
$cyan-100: #ecf7fb;
$cyan-200: #d9eff7;
$cyan-300: #c6e7f3;
$cyan-400: #b3dfef;
$cyan-500: #9fd7ea;
$cyan-600: #8bcfe6;
$cyan-700: #75c7e2;
$cyan-800: #5dbfdd;
$cyan-900: #3fb6d9;

// Indigo
$indigo-100: #e7ecfc;
$indigo-200: #d0daf9;
$indigo-300: #bac7f5;
$indigo-400: #a4b4f1;
$indigo-500: #8ea2ec;
$indigo-600: #7a8fe7;
$indigo-700: #667be1;
$indigo-800: #5467db;
$indigo-900: #4351d4;

// Teal
$teal-100: #d4ece9;
$teal-200: #bee2de;
$teal-300: #a8d8d3;
$teal-400: #add3cc;
$teal-500: #98c9c0;
$teal-600: #83beb3;
$teal-700: #6db3a7;
$teal-800: #56a89b;
$teal-900: #3b9e90;

// White
$white-1: rgba(0, 0, 0, 0.1);
$white-2: rgba(0, 0, 0, 0.2);
$white-3: rgba(0, 0, 0, 0.3);
$white-4: rgba(0, 0, 0, 0.4);
$white-5: rgba(0, 0, 0, 0.5);
$white-6: rgba(0, 0, 0, 0.6);
$white-7: rgba(0, 0, 0, 0.7);
$white-8: rgba(0, 0, 0, 0.8);
$white-9: rgba(0, 0, 0, 0.9);

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "light": $light,
  "black": $black,
  "purple": $purple,
  "yellow": $yellow,
  "teal": $teal,
  "cyan": $cyan,
  "pink": $pink,
  "indigo": $indigo,
  "orange": $orange,
);

$text-color: #646b72;
$title-color: #212b36;
$sub-title: #b8bcc9;
$body-bg: #fafbfe;
$wrapper-bg: #f1f5f6;
$text-muted: #9595b5;
$default-background: #f7f8f9;
$black-bg: #141432;
$card-dark-bg: #1d1d42;
$navy: #353570;
$theme-title: #97a2d2;
$input-bg: #2c2c50;
$form-control-bg: #ffffff;
// Social Icons Colors
$facebook: #3b5998;
$twitter: #00acee;
$google: #dd4b39;
$telegram: #0088cc;
$linkedin: #0e76a8;
$youtube: #c4302b;
$instagram: #3f729b;
$reddit: #c6c6c6;
$pinterest: #cc2127;
$vk: #2b587a;
$rss: #ee802f;
$skype: #00aff0;
$xing: #126567;
$tumblr: #34526f;
$email: #6567a5;
$delicious: #205cc0;
$stumbleupon: #f74425;
$digg: #191919;
$blogger: #fc4f08;
$flickr: #ff0084;
$vimeo: #86c9ef;
$yahoo: #720e9e;
$gplus: #dd4b39;
$appstore: #000;

// Gradient Variables
$primary-transparent: #e6f7ff;
$secondary-transparent: #e6eaed;
$success-transparent: #ecfaf2;
$warning-transparent: #fffaea;
$danger-transparent: #ffe8e8;
$info-transparent: #eaf1fe;
$pink-transparent: #fcebf5;
$gray-transparent: #fefefe;
$teal-transparent: #e9f5f4;
$purple-transparent: #f2edfe;
$pink-transparent: #fcebf5;
$cyan-transparent: #e9f8fb;
$indigo-transparent: #ededfb;
$orange-transparent: #fcefea;
$primary-gradient: linear-gradient(to right, $primary 0%, #40a9ff 100%);
$secondary-gradient: linear-gradient(to right, $secondary 0%, #28b7f9 100%);
$success-gradient: linear-gradient(to right, $success 0%, #5cf9e2 100%);
$warning-gradient: linear-gradient(to right, $warning 0%, #fbc434 100%);
$danger-gradient: linear-gradient(to right, $danger 0%, #fd4a68 100%);
$info-gradient: linear-gradient(to right, $info 0%, #00f2fe 100%);
$pink-gradient: linear-gradient(to right, $pink 0%, #ffa795 100%);
$teal-gradient: linear-gradient(to right, $teal 0%, #0695dd 100%);
$orange-gradient: linear-gradient(to right, $orange 0%, #fbb034 100%);
$purple-gradient: linear-gradient(to right, $purple 0%, #9b25b7 100%);
$light-gradient: linear-gradient(to right, $light 0%, #d1d6de 100%);
$dark-gradient: linear-gradient(to right, $dark 0%, #54505d 100%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $secondary-transparent;
$default-border: $secondary-transparent;
$input-border: $secondary-transparent;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 60px 0px rgba(231, 231, 231, 0.47);
$box-shadow-sm: 0px 4px 60px 0px rgba(190, 190, 190, 0.27);
$box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);
$box-shadow-primary: 0px 4px 10px 0px rgba(2, 142, 212, 0.3);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;

$h1-fs: 2rem;
$h2-fs: 1.75rem;
$h3-fs: 1.5rem;
$h4-fs: 1.25rem;
$h5-fs: 1.15rem;
$h6-fs: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Darkmode Base
$darkmode-light: #131313;
$darkmode-dark: #d6dade;
$darkmode-white: #0d0d0d;

// Darkmode Gray
$darkmode-gray-900: #d8dfee;
$darkmode-gray-800: #c8d2e0;
$darkmode-gray-700: #374151;
$darkmode-gray-600: #4b5563;
$darkmode-gray-500: #6b7280;
$darkmode-gray-400: #9ca3af;
$darkmode-gray-300: #2f343c;
$darkmode-gray-200: #1f2228;
$darkmode-gray-100: #171717;

// Darkmode Light
$darkmode-light-900: #181818;
$darkmode-light-800: #121212;
$darkmode-light-700: #111111;
$darkmode-light-600: #101010;
$darkmode-light-500: #0f0f0f;
$darkmode-light-400: #0e0e0e;
$darkmode-light-300: #0c0c0c;
$darkmode-light-200: #0b0b0b;
$darkmode-light-100: #0a0a0a;

// Darkmode Transparent
$darkmode-primary-transparent: #011a2b;
$darkmode-secondary-transparent: #030d11;
$darkmode-success-transparent: #04150c;
$darkmode-warning-transparent: #171203;
$darkmode-danger-transparent: #240505;
$darkmode-info-transparent: #050c15;
$darkmode-purple-transparent: #17051b;
$darkmode-skyblue-transparent: #03191e;
$darkmode-pink-transparent: #240917;
$darkmode-dark-transparent: #212324;
$darkmode-light-transparent: #0b0f14;

$dark-green: #111926;
$night-blue: #0f0f41;
$dark-gray: #2e2e48;
$royal-blue: #0039c6;
$indigo: #391694;
$darkaqua: #116d6e;
$whiterock: #f0e4d7;
$rockblue: #8cb9bd;
$bluehaze: #b5c0d0;
$brightblue: #2066ff;
$lunargreen: #365e32;
$lavendar: #673ab7;
$magenta: #e83e8c;
$chromeyellow: #ff9b04;
$lavared: #dc2626;
$blackpearl: #080821;
$maroon: #710034;
$bluegem: #3e1c95;
$firefly: #053333;

$blue-gradient: linear-gradient(180deg, #00c0f9 0%, #0257ce 100%);
$maroon-gradient: linear-gradient(180deg, #ef3b4a 0%, #513a8f 100%);
$dark-transparent: #e8e9ea;

$sidebar-color-1: #fbfbfb;
$sidebar-color-2: #505969;
$sidebar-color-3: #2c2c2c;
$sidebar-color-4: #1d51b6;
$sidebar-color-5: #6c0ba9;
$sidebar-color-6: #0b897d;
$sidebar-color-7: linear-gradient(180deg, #4b749f 0%, #243748 100%);
$sidebar-color-8: linear-gradient(180deg, #18accf 0%, #0f59ad 100%);
$sidebar-color-9: linear-gradient(180deg, #7d90b8 0%, #103783 100%);
$sidebar-color-10: linear-gradient(180deg, #8e4beb 0%, #472282 100%);
$sidebar-color-11: linear-gradient(180deg, #309f92 0%, #0c5666 100%);
$sidebar-color-12: linear-gradient(90deg, #ff9966 1.92%, #ff5e62 100%);
$sidebar-color-13: linear-gradient(90deg, #760762 1.92%, #883907 100%);
$sidebar-color-14: linear-gradient(90deg, #4471cc 1.92%, #ae7bd4 100%);
$theme-color-1: #009688;
$theme-color-2: #d63031;
$theme-color-3: #6c5ce7;
$theme-color-4: #0984e3;
$theme-color-5: #00b894;
